@model BaseballOdds.Models.Teams

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunsScored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunsScored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunsAgainst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunsAgainst)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
