<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Obsessed Analytics</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$ ( "#menu-close" ).click();>Home</a>
            </li>
            <li>
                <a href="#top" onclick=$ ( "#menu-close" ).click();>About</a>
            </li>
            <li>
                <a href="#about" onclick=$ ( "#menu-close" ).click();>Services</a>
            </li>
            <li>@Html.ActionLink("Odds", "Index", "Odds")</li>
            <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
        </ul>
    </nav>
    
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/stylish")
    @RenderSection("scripts", required: false)
</body>
</html>
